@CHARSET "UTF-8";

body{
	background-color: #ecf2f9;
	font-family: sans-serif;
}


.container{
	font-family: monospace;
	background-color: #ffffff;
	text-align: center;
	border-radius: 10px;
	margin: auto;
	padding: 50px 30px 60px 30px;
	width: 500px;
	box-shadow: 5px 5px 5px #006666;
}

.top{
	height:150px;
}

.title{
	font-size: 25px;
	padding-bottom: 20px;
	
}








