@CHARSET "UTF-8";

.header {
	font-size: 25px;
	text-align: center;
	height: 35px;
	padding-top: 10px;
}

.mid {
	max-width:800px;
	margin: auto;
	margin-bottom: 30px;
	border-collapse: collapse;
	coucounter-reset: rowNumber;
}

thead {
	background-color:#00b359;
	color: white;
}

tr{
	 counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

th, td {
	padding: 6px;
	text-align: left;
}

td {
	background: #c1d7d7;
	background: -webkit-linear-gradient(#c1d7d7, #ffffff);
	background: -o-linear-gradient(#c1d7d7, #ffffff);
	background: -moz-linear-gradient(#c1d7d7, #ffffff);
	background: linear-gradient(#c1d7d7, #ffffff);
}

